.row{   

    background-color:black;
    color:crimson;
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
}
h1{
    color:gold;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;
}
div{
    display:flex;
    justify-content:space-around;
}
body{
background:purple;    
}